@import url("//fonts.googleapis.com/css?family=Raleway:400,600,700,800,900");

html,body {
	margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
	background: #6dc8ff;
	font-family: 'Raleway', sans-serif;
}

.ui-widget,
td {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

body {
	background: url("../images/landmarks-bg.png") center bottom no-repeat;
}

#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

#header {
	height: auto !important; /* real browsers */
	height: 40%; /* IE6: treaded as min-height*/
	min-height: 40%; /* real browsers */
	background:  #98e4fe;
}

#footer {
	height:auto !important; /* real browsers */
	height: 20%; /* IE6: treaded as min-height*/
	min-height: 20%; /* real browsers */
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background: url("../images/footer-bg.gif") bottom left repeat-x;
}

#footer ul {
	list-style: none;
    position: absolute;
    margin: 0;
    right: 5%;
    padding: 0;
    bottom: 12px;
}

#footer ul li {
	float: left;
    margin-right: 8px;
}

#footer ul li:last-child {
	margin-right: 0;
}

#background-wrap {
    bottom: 40%;
	left: 0;
	padding-top: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloudAlt {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes animateCloudAlt {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -1000px;
    }
}

@keyframes animateCloudAlt {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -1000px;
    }
}

@-webkit-keyframes animateBalloon {
    0% {
        margin-top: 100%;
		margin-left: -520px;
	}
    100% {
        margin-top: -100%;
		margin-left: 100%;
    }
}

@-moz-keyframes animateBalloon {
    0% {
		margin-top: 100%;
		margin-left: -520px;
    }
    100% {
        margin-top: -100%;
		margin-left: 100%;
    }
}

@keyframes animateBalloon {
   0% {
        margin-top: 100%;
		margin-left: -520px;
    }
    100% {
		margin-top: -100%;
		margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	left: 50%;
	-webkit-animation: animateCloudAlt 35s linear infinite;
	-moz-animation: animateCloudAlt 35s linear infinite;
	animation: animateCloudAlt 35s linear infinite;
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 60s linear infinite;
	-moz-animation: animateCloud 60s linear infinite;
	animation: animateCloud 60s linear infinite;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 80s linear infinite;
	-moz-animation: animateCloud 80s linear infinite;
	animation: animateCloud 80s linear infinite;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloudAlt 58s linear infinite;
	-moz-animation: animateCloudAlt 58s linear infinite;
	animation: animateCloudAlt 58s linear infinite;
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 75s linear infinite;
	-moz-animation: animateCloud 75s linear infinite;
	animation: animateCloud 75s linear infinite;
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
		opacity: .6;
}

.x6 {
	-webkit-animation: animateBalloon 45s linear infinite;
	-moz-animation: animateBalloon 45s linear infinite;
	animation: animateBalloon 45s linear infinite;
}

.cloud {
	background: #def1ff;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 110px;
	position: relative;
	width: 580px;
}

.balloon {
	background: url("../images/hot-air-balloon.png");
	height: 99px;
	position: relative;
	width: 75px;
}

#score {
	display:none;
	position: absolute;
    bottom: 17px;
    font-size: 3em;
    font-weight: 900;
    left: 5%;
	color: #fff;
	/* color: #5c472a; */
	text-shadow: 4px 4px 2px rgba(92, 71, 42, .4);
}

#pad {
    color: #E0D263;
    font-size: 5em;
    font-weight: 900;
    width: 680px;
    height: 340px;
    padding-top: 130px;
    background: #000;
    position: absolute;
    left: 50%;
    margin-left: -340px;
    top: 16%;
    z-index: 10;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
    pointer-events: none;
}

#pad .timer {
	background: red;
	color: #fff;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    left: 50%;
    position: absolute;
    margin-left: -90px;
    line-height: 165px;
    text-align: center;
}
.timer
{
    z-index: 9999;
}

    #pad .guide
    {
        text-align: center;
        position: absolute;
        background: red;
        font-size: 0.25em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: -10px;
        left: 5%;
        width: 90%;
        color: #fff;
    }

.guide
{
        border-radius: 10px;
        bottom: 12%;
}

#logo {
	position: absolute;
	z-index: 20;
	left: 50%;
	margin-left: -480px;
	top: 10px;
    pointer-events:none;
}

.no-title {
	box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
}

.no-title .ui-dialog-titlebar {
    display: none;
}

.no-title,
.no-title .ui-widget-content {
    border: none;
    background-image: none;
	background-color: #8EC63F;
}

.no-title.ui-dialog .ui-dialog-buttonpane {
	text-align: center;
	padding: 0 1em .5em 1em;
	margin-top: 0;
}

.no-title.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: none;
}

.no-title.ui-dialog .ui-dialog-buttonpane button {
	margin: 0.5em 0 1em 0;
	background: red;
    border: none;
    color: white;
}

.content-below {
	display: none;
	color: #E0D263;
    text-align: center;
    font-weight: 900;
    width: 440px;
    background: #D6AD60;
    position: absolute;
    left: 50%;
    margin-left: -370px;
    bottom: 14%;
    z-index: 11;
	padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
}

body.game-active .content-below {
	display: block;
}

p{
    color: #8E5512;
	font-size: 1.3em;
}

#answer-panel p#points {
	margin-top: 0;
	color: #8E5512;
	font-size: 1.3em;
}

table, th, td {
  border: none; }

  table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }


table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #9ED84D; }
  table.striped > tbody > tr > td {
    border-radius: 0px; }
  table.hoverable > tbody > tr {
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    transition: background-color .25s ease; }
    table.hoverable > tbody > tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

thead {
  /* border-bottom: 1px solid #d0d0d0; */
  color: #fff;
 }
 thead th {
	font-size: 2em;
 }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px; }

 table > tbody > tr > td:first-child {
	padding-left: 20px;
 }

 table > tbody > tr > td {
	color: #4E6D21;
	font-weight: 700;
}

table.striped > tbody > tr:nth-child(even) td {
	color: #CFF798;
}

@media only screen and (max-width : 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */ }
    table.responsive-table th, table.responsive-table td {
      margin: 0;
      vertical-align: top; }
    table.responsive-table th {
      text-align: left; }
    table.responsive-table thead {
      display: block;
      float: left; }
      table.responsive-table thead tr {
        display: block;
        padding: 0 10px 0 0; }
        table.responsive-table thead tr th::before {
          content: "\00a0"; }
    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
      table.responsive-table tbody tr {
        display: inline-block;
        vertical-align: top; }
    table.responsive-table th {
      display: block;
      text-align: right; }
    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left; }
    table.responsive-table tr {
      padding: 0 10px; }
    table.responsive-table thead {
      border: 0;
      border-right: 1px solid #d0d0d0; }
    table.responsive-table.bordered th {
      border-bottom: 0;
      border-left: 0; }
    table.responsive-table.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0; }
    table.responsive-table.bordered tr {
      border: 0; }
    table.responsive-table.bordered tbody tr {
      border-right: 1px solid #d0d0d0; } }


.box,
.content {
    width: 100%;
    height: 100%;
}
.box {
    position: absolute;
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    top: 0
}
.content {
    position: absolute;
    overflow: hidden;
    background: #FFF;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: url("../images/eraser.png") 30 33, auto;
    border-radius: 10px;
}
#submission {
    display: none
}
div#map_zoom_slider,
div#overview-map_zoom_slider {
    display: none;
    text-align: center;
}
#feedback {
    height: 118px;
}
#instructions {
    text-align: center;
}
td {
    padding: 12px;
}

.reveal {
    display: none;
}
canvas#j-cvs {
    border-radius: 10px;
}

#map_zoom_slider {
	left: auto;
	right: 20px;
}

.esriControlsBR {
	right: auto;
	left: 10px;
	bottom: 10px;
}

.btn, .btn-large, .btn-flat {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	padding: 0 1rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	font-weight: bold;
}

#next,
#skip,
#restart {
	background-color: #638497;
	color: #fff;
}

#submit,
#submit-score {
	background-color: #577B01;
	color: #fff;
}

#answer,
#name {
	padding: 10px;
    border: none;
    border-radius: 3px;
}

#rounds-remain {
    position: absolute;
    top: 7%;
    right: 50%;
    margin-right: -391px;
    z-index: 99999999;
    background: red;
    padding: 10px 30px 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
    color: #fff;
    font-weight: 900;
    font-size: 3rem;
}

#rounds-remain::before {
	content: "";
}

.esriPopup .titleButton.maximize,
.esriPopup .outerPointer {
	display: none!important;
}

.esriPopup .contentPane,
.esriPopup .title {
    font-family: raleway;
}

.esriPopup .titleButton.close {
    right: 12px;
    top: 7px;
}

.esriPopup .titlePane {
    background-color: #6DC8FF;
	padding: 6px 12px;
}

.esriPopup .contentPane {
	font-size: 1.3rem;
}

.esriPopup .title {
	font-size: 1rem;
}

#overview-map-container {
    width: 200px;
    height: 175px;
    background: #fff;
    bottom: 13.5%;
    right: 50%;
	margin-right: -368px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 9999

}
#overview-map {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    box-shadow: inherit;
}

#countdown {
    color: #fff;
    width: 100px;
    height: 100px;
    background: #D6259E;
    bottom: 45%;
    left: 50%;
	margin-left: -390px;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 9999;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -webkit-backface-visibility: hidden; 
    font-weight: 900;
    transform: rotate(-7deg);
    text-align: center;
    line-height: 85px;
    font-size: 3rem;
}

#overview-map-container,
#countdown {
    opacity: 0;
}

.game-active #overview-map-container,
.game-active #countdown {
    opacity: 1;
}

#status {
   width: 220px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    margin-left: 200px;
    top: 30%;
    padding: 30px;
    text-align: center;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 8px 8px 0px rgba(0, 0, 0, .2);
    -ms-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    font-weight: 900;
    font-size: 1.3rem;
    color: #fff;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.no-title.ui-dialog-buttons.ui-draggable.ui-resizable {
    z-index: 99999;
}

img#esriuklogoimg
{
    width: 270px;
        z-index: 9999;
}

div#esriuklogo
{
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 9999;
    width: 270px;
    left: 50%;
    margin-left: -135px;
}